<%= render 'shared/headerbar' %>
<%= render 'shared/sidebar' %>
<div id="adventure_main">
  <style scoped>
    <%=@adventure.css %>
  </style>
  <div id="stage_frame" class="sidebarPadding">
  </div>
</div>
<%= controlJS(@advId) %>
