<%= render 'shared/headerbar' %>
<%= stylesheet_link_tag 'adventure' %>
<div id="main">
<% @results.each do |adventure| %>
<a href="/Adventure/<%=adventure.id%>/"><%=adventure.title%></a>
<%end%>
</div>
