<%=stylesheet_link_tag 'headerbar'%>
<div id="headbar">
  <!-- TODO all this shit make it <a>'s -->
  <p class="logo">CYOA</p>
  <p>Latest</p>
  <p>Random</p>
  <p>Create</p>
  <input type="search" placeholder="Search..."/>
  <a href='/NewAccount' class="login">New Account</a>
  <a href='/Login' class="login">Login</a>
</div>
<%= yield %>
