<%= render 'shared/headerbar' %>
<%= stylesheet_link_tag 'home' %>
<div id="guide">
<p>It's fucking complicated (but I made it as nice and easy for you as possible). I'll put up a nice tutorial after everything else is ready.</p>
<p>Prepare yourself for loads of HTML, CSS, and JSON</p>
<p>If this is still here after 12 June '16 give me a kick to get started at antonpaquin@gmail.com</p>
</div>
