<%= render 'shared/headerbar' %>
<%= stylesheet_link_tag 'home' %>
<div id="main">
<h1 class="title">Choose your own adventure.</h1>
<%= form_tag("/Search", method: "get") do %>
  <input type="search" name="query" autofocus="autofocus"/>
<%end%>
<p class="button">Browse</p>
</div>
