// Place all the styles related to the Adventure controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
  margin-top: 100px;
  text-align: center;
}

#main a {
  text-align: center;
  text-decoration: none;
}
