/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
  	--bodycolor: #363636;
  	--linecolor: #888888;
  	--textcolor: #F0F0F0;
  	--lightcolor: #A5A5A5;
  	--darkcolor: #262626;
  	--flaircolor: #A5A5A5;
  }

 @font-face {
     font-family: 'Exo2Black';
     src: font-url('Exo2Black.otf');
 }

 /* Blue-ish theme
 :root {
 	--bodycolor: #23323F;
 	--linecolor: #839BAF;
 	--textcolor: #E5E5E5;
 	--lightcolor: #A5A5A5;
 	--darkcolor: #262626;
 	--flaircolor: #EF798A;
 } */

 body {
 	background: var(--bodycolor);
 	/* Override default 8px margin */
 	margin: 0px;
 }

 p,h1,h2,a {
 	color: var(--textcolor);
 }
