#sidebar {
	/* Take the left */
	position: absolute;
	left: 0px;
	top: 0px;
	width: 275px;
	/* Don't overwrite the headerbar */
	z-index: 0;
	padding-top: 75px;
	/* Distinguish yourself */
	background-color: var(--bodycolor);
	box-shadow:4px 0 4px;
	/* Margins */
	padding-left: 10px;
	padding-right: 10px;
	/* CSS is bullshit */
	overflow: auto;
}

#sidebar h1 {
	/* Title aspect */
	text-align: center;
	/* Just making the author info be in the right place */
	margin-bottom: 4px;
}
#sidebar a {
	font-style: italic;
	text-decoration: underline;
}
#sidebar .description {
	/* Spacing */
	padding: 5px;
	/* Font looks like */
	font-style: italic;
	font-size: 13px;
}

#sidebar .emboss {
	border: 1px solid var(--darkcolor);
	box-shadow: inset 1px 1px 2px black;
}

#sidebar div {
	/* Keep sections separate */
	margin-bottom: 40px;
	display: block;
	float:left;
	width: 99%;
}

#sidebar .author {
	/* Look pretty */
	font-size: 13px;
	text-align: center;
	/* Space decently with other things */
	margin-top: 4px;
	margin-bottom: 25px;
}

#sidebar h2 {
	/* Sub-sections / div headers */
	font-size: 18px;
	margin-bottom: 5px;
}

#tags p {
	/* Tags are small */
	font-size: 12px;
	/* Don't need a new row for each tag */
	float: left;
	/* Make boxes */
	padding: 5px;
	border: 1px solid var(--linecolor);
	border-radius: 2px;
	/* Spacing */
	margin: 5px;
}

#tags p:hover {
	/* Woooo HTML5 CSS3 MODERN WEB */
	color: var(--bodycolor);
	background-color: var(--linecolor);
}

#stats p {
	/* 12 is a bit small */
	font-size: 14px;
	/* This fucking line spacing */
	margin-top: 3px;
	margin-bottom: 3px;
}

#stats .fieldcolumn {
	float: left;
	text-align: right;
	width: 80px;
}
#stats .fieldcolumn p {
	color: var(--lightcolor);
}
#stats .datacolumn {
	float: left;
	text-align: left;
	margin-left: 10px;
	width: 180px;
}

#stats div {
	margin-bottom: 3px;
	width: auto;
}

#options a {
	margin-top: 3px;
	margin-bottom: 3px;
	font-style: normal;
	display: block;
	margin-left: 30px;
}

.hidden {
	display:none;
}

.sidebarButton {
	position: absolute;
	top: 75px;
	right: 10px;
	height: 20px;
	width: 20px !important;
	border: 1px solid var(--linecolor);
	border-radius: 50%;
}

.leftArrow {
	position: absolute;
	width: 0px !important;
	height: 0px !important;
	margin-bottom: 0px;
	left: 5.5px;
	top: 3.5px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right:6px solid var(--linecolor);
}

.rightArrow {
	position: absolute;
	width: 0px;
	height: 0px;
	margin-bottom: 0px;
	left: 7.5px;
	top: 3.5px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left:6px solid var(--linecolor);
}

.sidebarButton:hover {
	background-color: var(--linecolor);
}

.sidebarButton:hover .leftArrow {
	border-right: 6px solid var(--bodycolor);
}
.sidebarButton:hover .rightArrow {
	border-left: 6px solid var(--bodycolor);
}

#showButton {
	position: absolute;
	top: 75px;
	left: 10px;
}

.sidebarPadding {
	margin-left: 295px;
}
