<!DOCTYPE html>
<html>
<head>
  <title>Cyoa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="headbar">
  	<!-- TODO all this shit make it <a>'s -->
  	<p class="logo">CYOA</p>
  	<p>Latest</p>
  	<p>Random</p>
  	<p>Create</p>
  	<input type="search" placeholder="Search..."/>
  	<p class="login">New Account</p>
  	<p class="login">Login</p>
  </div>
<%= yield %>
</body>
</html>
