<div id="headBar">
  <p>I think something like wallhaven.cc would work good</p>
  <p>that is, a nice short bar with emboss-separated actions and a search bar</p>
  <p>Explicitly: logo, latest, random, upload, forums, more, search</p>
  <p>and then a register, login over right-justified</p>
  <p>More includes: untagged, tags, rules, about, FAQ, stats, team, contact and some IRC links</p>
  <p>I'm sure the CSS people have solved this kind of problem before</p>
  <p>By the way: 'render layout: headerbar' at the end of the method</p>
</div>
